@font-face {
  font-family: 'Gilroy Bold';
  src: url("../fonts/GilroyBold.woff2");
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url("../fonts/GilroyMedium.woff2");
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url("../fonts/GilroyRegular.woff2");
}
